{% extends 'base.html' %}
{% load static %}
{% block body %}
    <script type="text/javascript">
        function confirmaVoto() {
            var puestos = {{max_candidatos}};
            var marcas = 0;
            var frm = document.getElementById('frm');
            for (var i = 0; i < frm.elements.length; i++) {
                var elem = frm.elements[i]
                if (elem.name.split('_')[0] == 'cdto' && elem.checked) {
                    marcas++
                }
            }
            if (marcas > puestos) {
                alert('Hay demasiados (más de ' + puestos + ') candidatos marcados.')
                return false
            }
            var tipo = 'normal'
            var nulo = document.getElementById('nulo')
            nulo = nulo && nulo.checked
            var blanco = document.getElementById('blanco').checked
            if (nulo && blanco) {
                alert('Se han marcado las casillas de nulo y blanco a la vez.\nPor favor, marque sólo una de ellas como máximo.')
                return false
            }
            if (nulo) {
                tipo = 'nulo'
            }
            if (blanco) {
                tipo = 'blanco'
            }
            if (marcas == 0 && tipo == 'normal') {
                alert('No se marcado ningún candidato. Si es correcto, registre el voto en blanco con el botón a tal efecto.')
                return false
            }
            if (marcas > 0 && tipo != 'normal') {
                alert('Desmarque todos los candidatos para marcar un voto blanco.')
                return false
            }
            if (tipo == 'normal') {
                return confirm('¿Desea registrar el voto (' + marcas + ' candidat*s de ' + puestos + ' posibles)?')
            }
            if (tipo == 'nulo') {
                return confirm('¿Desea registrar un VOTO NULO?')
            }
            if (tipo == 'blanco') {
                return confirm('¿Desea registrar un VOTO EN BLANCO?')
            }
            return false //no debería llegar aquí
        }
    </script>
    <main class="main-content">
        <!--== Start Page Header Area Wrapper ==-->
        <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="{% static 'img/fondo4.png' %}">
            <div class="container pt--0 pb--0">
                <div class="row">
                    <div class="col-12">
                        <div class="page-header-content">
                            <h2 class="title">Papeleta Votaciones</h2>
                            <nav class="breadcrumb-area">
                                <ul class="breadcrumb justify-content-center">
                                    <li><a href="{% url 'index' %}">Inicio</a></li>
                                    <li class="breadcrumb-sep">//</li>
                                    <li>Votaciones</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--== End Page Header Area Wrapper ==-->

        <!--== Start Team Area Wrapper ==-->
        <section class="team-area team-inner2-area">
            {{ cruces }}
            <form id="frm" method="post" action="./registrar/" style="display:inline;">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        {% for candidato in circ.candidatos_ordenados %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <!--== Start Team Item ==-->
                                <div class="team-item">
                                    <div class="thumb">
                                        <img src="{{ candidato.photo.url }}" width="160" height="160"
                                             alt="Image-HasTech">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">{{ candidato }}</h4>
                                        <h5 class="sub-title">{{ candidato.email }}</h5>
                                        <p class="desc">Antiguedad: {{ candidato.locality }}</p>
                                        <p class="desc">Antiguedad: {{ candidato.seniority_date|date:"Y" }}</p>
                                        <p class="desc">{% if candidato.on_the_council %}
                                            Esta persona pertenece al Consejo en la actualidad y su participación se
                                            puede ver en los detalles.
                                        {% else %}
                                            Esta persona no pertenece al Consejo en la actualidad
                                        {% endif %}</p>
                                        <input name="cdto_{{ candidato.id }}" value={{ candidato.id }} type="checkbox"
                                                {% if c.pk in cruces %} checked="checked"
                                                {% endif %}>
                                    </div>
                                    <div class="bookmark-icon"><img src="{% static 'img/icons/bookmark1.png' %}"
                                                                    alt="Image-HasTech">
                                    </div>
                                    <div class="bookmark-icon-hover"><img
                                            src="{% static 'img/icons/bookmark2.png' %}"
                                            alt="Image-HasTech"></div>
                                </div>
                                <!--== End Team Item ==-->
                            </div>
                        {% endfor %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <!--== Start Team Item ==-->
                            <div class="team-item">
                                <div class="thumb">
                                    <img src="{% static 'img/team/1.jpg' %}" width="160" height="160"
                                         alt="Image-HasTech">
                                </div>
                                <div class="content">
                                    <h4 class="title">Voto en blanco</h4>
                                    <input name="blanco" id="blanco" value="blanco" type="checkbox">
                                </div>
                                <div class="bookmark-icon"><img src="{% static 'img/icons/bookmark1.png' %}"
                                                                alt="Image-HasTech">
                                </div>
                                <div class="bookmark-icon-hover"><img
                                        src="{% static 'img/icons/bookmark2.png' %}"
                                        alt="Image-HasTech"></div>
                            </div>
                            <!--== End Team Item ==-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb--0">
                            <input class="btn-theme d-block w-100" type="submit" name="submit" value="Votar"
                                   onclick="return confirmaVoto()"/>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 20px;">
                        <div class="form-group mb--0">
                            <input class="btn-theme d-block w-100" type="reset" value="Desmarcar todo"/>
                        </div>
                    </div>
                </div>

            </form>
        </section>
        <!--== End Team Area Wrapper ==-->
    </main>

{% endblock %}