{% extends 'base.html' %}
{% load static %}
{% block navbar %}
    {% for module in modules %}
        <li><a href="./{{ module.module }}"><span>{{ module.ds }}</span></a></li>
    {% endfor %}


{% endblock %}
{% block body %}

    <main class="main-content">
        <!--== Start Hero Area Wrapper ==-->
        <section class="home-slider-area">
            <div class="home-slider-container default-slider-container">
                <div class="home-slider-wrapper slider-default">
                    <div class="slider-content-area" data-bg-img="{% static 'img/slider/slider-bg1.jpg' %}">
                        <div class="container pt--0 pb--0">
                            <div class="slider-container">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-12 col-lg-8">
                                        <div class="slider-content">
                                            {% if modules %}
                                                <h2 class="title">Los plazos del proceso electoral son éstos:</h2>
                                                {% for mod in modules %}
                                                    <p class="desc">{{ mod.ds }}: Del {{ mod.star_dt_humanize }}
                                                        al {{ mod.end_dt_humanize }}</p>
                                                {% endfor %}
                                            {% else %}
                                                <h2 class="title">
                                                    Aún no se han definido plazos para el proceso electoral
                                                </h2>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-slider-shape">
                <img class="shape1" data-aos="fade-down" data-aos-duration="1500"
                     src="{% static 'img/slider/vector1.png' %}" width="270" height="234" alt="Image-HasTech">
                <img class="shape2" data-aos="fade-left" data-aos-duration="2000"
                     src="{% static 'img/slider/vector2.png' %}" width="201" height="346" alt="Image-HasTech">
                <img class="shape3" data-aos="fade-right" data-aos-duration="2000"
                     src="{% static 'img/slider/vector3.png' %}" width="276" height="432" alt="Image-HasTech">
                <img class="shape4" data-aos="flip-left" data-aos-duration="1500"
                     src="{% static 'img/slider/vector4.png' %}" width="127" height="121" alt="Image-HasTech">
            </div>
        </section>
        <!--== End Hero Area Wrapper ==-->

    </main>

{% endblock %}