{% extends 'base.html' %}
{% load static %}
{% block body %}
    <p>Los plazos del proceso electoral son éstos:</p>
    <table class="plazos">
        <thead>
        <tr>
            <th>Personas del Consejo elegidas por socias y socios</th>
            <th>inicio</th>
            <th>fin</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Presentación de candidaturas</td>
            <td>x-x-x</td>
            <td>x-x-x</td>
        </tr>
        <tr>
            <td>Alegaciones</td>
            <td>x-x-x</td>
            <td>x-x-x</td>
        </tr>
        <tr>
            <td>Votación</td>
            <td>x-x-x</td>
            <td>x-x-x</td>
        </tr>
        <tr>
            <td>Resultado</td>
            <td>x-x-x</td>
            <td>x-x-x</td>
        </tr>
        <tr>
            <th>Personas del Consejo elegidas por consejeras y consejeros</th>
            <th>inicio</th>
            <th>fin</th>
        </tr>
        <tr>
            <td>Presentación de candidaturas</td>
            <td>x-x-x</td>
            <td>x-x-x</td>
        </tr>
        <tr>
            <td>Alegaciones</td>
            <td>x-x-x</td>
            <td>x-x-x</td>
        </tr>
        <tr>
            <td>Votación</td>
            <td>x-x-x</td>
            <td>x-x-x</td>
        </tr>
        <tr>
            <td>Resultado</td>
            <td>x-x-x</td>
            <td>x-x-x</td>
        </tr>
        <tr>
            <th>Asamblea</th>
            <td>x-x-x</td>
            <td>x-x-x</td>
        </tr>
    </table>
{% endblock %}