{% extends 'base.html' %}
{% load static %}
{% block body %}
    <main class="main-content">
        <!--== Start Page Header Area Wrapper ==-->
        <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="{% static 'img/fondo4.png' %}">
            <div class="container pt--0 pb--0">
                <div class="row">
                    <div class="col-12">
                        <div class="page-header-content">
                            <h2 class="title">Comisión Socios</h2>
                            <nav class="breadcrumb-area">
                                <ul class="breadcrumb justify-content-center">
                                    <li><a href="{% url 'index' %}">Inicio</a></li>
                                    <li class="breadcrumb-sep">//</li>
                                    <li>Comisión</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--== End Page Header Area Wrapper ==-->

        <!--== Start Team Details Area Wrapper ==-->
        <section class="team-details-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="team-details-wrap">
                            <div class="team-details-info">
                                <div class="thumb">
                                    {% if candidato.photo %}
                                        <img src="{{ candidato.photo.url }}" width="130" height="130"
                                             alt="Image-HasTech">
                                    {% else %}
                                        <img src="{% static 'img/team/1/jpg' %}" width="130" height="130"
                                             alt="Image-HasTech">
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <h4 class="title">{{ candidato }}</h4>
                                    <h5 class="sub-title">{{ candidato.locality }}</h5>
                                    <ul class="info-list">
                                        <li><i class="icofont-location-pin"></i> {{ candidato.circumscription }}</li>
                                        <li><i class="icofont-phone"></i> {{ candidato.email }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="team-sidebar">
                            <div class="widget-item contact-form login-register-form">
                                <div class="widget-title">
                                    <h3 class="title">Información</h3>
                                </div>
                                <div class="summery-info">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            {% for field in form %}
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="form-group">
                                                        {% if field.html_name in 'active_participation, veracity, habeas_data, validated, is_adult, antiquity_3_years, validated_by_system, up_to_date, validated_circumscription, on_the_council' and field.html_name != 'participation' and field.html_name != 'circumscription' %}
                                                            <div class="form-check form-switch">
                                                                <label class="form-check-label"
                                                                       for="{{ field.auto_id }}"><strong>{{ field.label_tag }}</strong></label>
                                                                <input class="form-check-input" type="checkbox"
                                                                       id="{{ field.auto_id }}" name="{{ field.name }}"
                                                                value={{ field }}
                                                                >
                                                            </div>
                                                        {% else %}
                                                            <strong>{{ field.label_tag }}</strong>
                                                            {{ field.errors }}{{ field }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group mb--0">
                                                <button class="btn-theme d-block w-100" type="submit">
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--== End Team Details Area Wrapper ==-->
    </main>
{#    {% for kv in info.items %}#}
{#        {{ kv }}#}
{#    {% endfor %}#}

{% endblock %}