{% extends 'base.html' %}
{% load static %}
{% block body_id %}ver_candidatos{% endblock %}
{% block body %}
    <div>
        <a href="javascript:window.close()">[X] Cerrar ventana</a>
    </div>
{#    <div>#}
{#        <a target="plazos" href="{% url 'ver_plazos' %}">Consultar plazos del proceso</a>#}
{#    </div>#}

    {% for circ, candidatos in ccaa %}
        {% if circ.pk != 18 %}
            <h3>{{ circ }}</h3>
        {% endif %}
        <table class="alegaciones">
            <thead>
            <tr>
                <th></th>
                <th>Currículum</th>
                <th>Vinculación con Greenpeace</th>
                <th>Motivación</th>
                <th>¿Cambios en Greenpeace?</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for candidato in candidatos %}
                <tr>
                    <td class="nombre">
                        <div class="nombre">{{ candidato }}</div>
                        {% if candidato.photo %}<img src="">{% endif %}
                        <div>Localidad: {{ candidato.locality }}</div>
                        <div>Antigüedad en la asociación: {{ candidato.filing_date|date:"Y" }}</div>
                        {% if candidato.present_it %}
                            <div>Presentado por {{ candidato.present_it }}</div> {% endif %}
                    </td>
                    <td class="cv">{{ candidato.curriculum_vitae|linebreaks }}</td>
                    <td class="vinculacion">{{ candidato.bonding|linebreaks }}</td>
                    <td class="motivacion">{{ candidato.motivation|linebreaks }}</td>
                    <td class="campanha">{{ candidato.campaign|linebreaks }}</td>
                    <td class="vinculacion">{% if candidato.on_the_council %}
                        Esta persona pertenece al Consejo en la actualidad y su participación ha sido la siguiente:
                        {{ candidato.participation | linebreaks }}
                    {% elif candidato.on_the_council == False %}
                        Esta persona no pertenece al Consejo en la actualidad
                    {% else %}
                        Información pendiente de cumplimentar
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}