{% extends 'base.html' %}
{% load static %}
{% block body %}
    <main class="main-content">
        <!--== Start Page Header Area Wrapper ==-->
        <div class="page-header-area sec-overlay sec-overlay-black"
             data-bg-img="{% static 'img/fondo4.png' %}">
            <div class="container pt--0 pb--0">
                <div class="row">
                    <div class="col-12">
                        <div class="page-header-content">
                            <h2 class="title">Votaciones</h2>
                            <nav class="breadcrumb-area">
                                <ul class="breadcrumb justify-content-center">
                                    <li><a href="{% url 'index' %}">Inicio</a></li>
                                    <li class="breadcrumb-sep">//</li>
                                    <li>Votaciones</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--== End Page Header Area Wrapper ==-->

{#        <section class="contact-area contact-page-area">#}
{#            <div class="container">#}
{#                <div class="row contact-page-wrapper">#}
{#                    <div class="col-lg-12">#}
{#                        <!--== Start Contact Form ==-->#}
{#                        <div class="contact-form login-register-form">#}
{#                            {% if member == 'Socios' %}#}
{#                                <h4 class="contact-form-title">Para presentar tu candidatura al Consejo de Greenpeace#}
{#                                    España, por favor, completa el siguiente formulario.</h4>#}
{#                            {% else %}#}
{#                                <h4 class="contact-form-title">Para presentar una candidatura al Consejo de Greenpeace#}
{#                                    España, por favor, completa el siguiente formulario.</h4>#}
{#                            {% endif %}#}
{##}
{#                            <h5>Para cualquier duda o problema, ponte en contacto con la <a>Comisión electoral</a> a#}
{#                                través de esta dirección de correo: <a href="mailto:eleccion.es@greenpeace.org">eleccion.es@greenpeace.org</a>.#}
{#                            </h5>#}
{#                            <form method="post" id="alta_candidato" enctype="multipart/form-data">#}
{#                                {% csrf_token %}#}
{#                                <div class="row">#}
{#                                    <div class="col-lg-6 col-md-12">#}
{#                                        <div class="form-group">#}
{#                                            <strong><label for="email">Introduce tu DNI o NIE:</label></strong>#}
{#                                            {{ field.errors }}{{ field }}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-12">#}
{#                                        <div class="form-group mb--0">#}
{#                                            <input class="btn-theme d-block w-100" type="submit"#}
{#                                                   value="Enviar candidatura"/>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </form>#}
{#                        </div>#}
{#                        <!--== End Contact Form ==-->#}
{##}
{#                        <!--== Message Notification ==-->#}
{#                        <div class="form-message"></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}

        <!--== Start Contact Area Wrapper ==-->
        <section class="contact-area contact-page-area">
            <div class="container">
                <div class="row contact-page-wrapper">
                    <div class="col-lg-12">
                        <!--== Start Contact Form ==-->
                        <div class="contact-form login-register-form">
                            <h4 class="contact-form-title">Necesito un código para votar.</h4>
                            {% if email %}
                                <form method="post" id="alta_candidato" action="/envia_clave_{{ tipo }}/">
                                    {% csrf_token %}
                                    <div class="row">

                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <strong><label for="email">Introduce tu DNI o NIE:</label></strong>
                                                <input class="form-control" id="email" name="email"
                                                       value="{{ email }}"/>
                                            </div>
                                        </div>


                                        <div class="col-md-4" style="margin-top: 10px;">
                                            <div class="form-group mb--0">
                                                <input class="btn-theme d-block w-100" type="submit"
                                                       value="Solicitar código"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <form method="post" id="alta_candidato">
                                    {% csrf_token %}
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <strong><label for="usu">Introduce tu DNI o NIE:</label></strong>
                                            </div>
                                            <input id="email" name="email"/>
                                        </div>


                                        <div class="col-md-4" style="margin-top: 10px;">
                                            <div class="form-group mb--0">
                                                <input class="btn-theme d-block w-100" type="submit"
                                                       value="Solicitar código"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                            <br>
                            <h4 class="contact-form-title">Ya tengo un código para votar.</h4>
                            <form method="post" id="alta_candidato">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <strong><label for="usu">Introduce el código que has
                                                recibido:</label></strong>
                                        </div>
                                        <div class="td"><input id="clave" name="clave" autocomplete="off"/></div>
                                    </div>


                                    <div class="col-md-4" style="margin-top: 10px;">
                                        <div class="form-group mb--0">
                                            <input class="btn-theme d-block w-100" type="submit"
                                                   value="Aceptar"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p>
                                {% autoescape off %}
                                    {{ mensaje }}
                                {% endautoescape %}
                            </p>

                        </div>
                        <!--== End Contact Form ==-->

                        <!--== Message Notification ==-->
                        <div class="form-message"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--== End Contact Area Wrapper ==-->
    </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Votaciones</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseas que te enviemos la clave de votacion a este correo:
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-theme btn-theme2" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn-theme">Enviar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}