{% extends 'base.html' %}
{% load static %}
{% block body %}
    <main class="main-content">
        <!--== Start Page Header Area Wrapper ==-->
        <div class="page-header-area sec-overlay sec-overlay-black"
             data-bg-img="{% static 'img/fondo4.png' %}">
            <div class="container pt--0 pb--0">
                <div class="row">
                    <div class="col-12">
                        <div class="page-header-content">
                            <h2 class="title">Votaciones</h2>
                            <nav class="breadcrumb-area">
                                <ul class="breadcrumb justify-content-center">
                                    <li><a href="./">Inicio</a></li>
                                    <li class="breadcrumb-sep">//</li>
                                    <li>Votaciones</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--== End Page Header Area Wrapper ==-->

        <!--== Start Contact Area Wrapper ==-->
        <section class="contact-area contact-page-area">
            <div class="container">
                <div class="row contact-page-wrapper">
                    <div class="col-lg-12">
                        <!--== Start Contact Form ==-->
                        <div class="contact-form">
                            <h4 class="contact-form-title">Necesito un código para votar.</h4>
                            {% if email %}
                                <form method="post" id="alta_candidato" action="/envia_clave_{{ tipo }}/">
                                    {% csrf_token %}
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <strong><label for="usu">Introduce tu DNI o NIE:</label></strong>
                                            </div>
                                            <input id="email" name="email" value="{{ dni }}"/>
                                        </div>

                                        <div class="col-md-4" style="margin-top: 10px;">
                                            <div class="form-group mb--0">
                                                <input class="btn-theme d-block w-100" type="submit"
                                                       value="Solicitar código"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Votaciones</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Deseas que te enviemos la clave de votacion a este
                                                    correo: {{ email }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="reset" class="btn-theme btn-theme2"
                                                            data-bs-dismiss="modal">Cancelar
                                                    </button>
                                                    <button type="submit" class="btn-theme">Enviar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <form method="post" id="alta_candidato">
                                    {% csrf_token %}
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <strong><label for="usu">Introduce tu DNI o NIE:</label></strong>
                                            </div>
                                            <input id="email" name="email"/>
                                        </div>


                                        <div class="col-md-4" style="margin-top: 10px;">
                                            <div class="form-group mb--0">
                                                <input class="btn-theme d-block w-100" type="submit"
                                                       value="Solicitar código"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                            <br>
                            <h4 class="contact-form-title">Ya tengo un código para votar.</h4>
                            <form method="post" id="alta_candidato">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <strong><label for="usu">Introduce el código que has
                                                recibido:</label></strong>
                                        </div>
                                        <div class="td"><input id="clave" name="clave" autocomplete="off"/></div>
                                    </div>


                                    <div class="col-md-4" style="margin-top: 10px;">
                                        <div class="form-group mb--0">
                                            <!-- Button trigger modal -->
                                            <input class="btn-theme d-block w-100" type="submit"
                                                   value="Aceptar"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p>
                                {% autoescape off %}
                                    {{ mensaje }}
                                {% endautoescape %}
                            </p>

                        </div>
                        <!--== End Contact Form ==-->

                        <!--== Message Notification ==-->
                        <div class="form-message"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--== End Contact Area Wrapper ==-->
    </main>

    <button type="button" class="btn-theme d-block w-100" data-bs-toggle="modal"
            data-bs-target="#exampleModal" id="id01" style="display: none">
        Aceptar
    </button>

    <script>
        $(document).ready(function () {
            $('#exampleModal').modal('toggle')
        });
    </script>

    <script type="text/javascript">
        function redireccionar() {
            document.getElementById('id01').style.display = 'active';
            $("#id01").trigger("click");
        }

        setTimeout("redireccionar()", 1000); //tiempo expresado en milisegundos
    </script>

{% endblock %}