.login-register-form .form-control2 {
  height: 200px !important;

}

.form-group strong {
  color: #03a84e;
}

/*-------- Button Style Css --------*/
.btn-theme2 {
  background-color: #ad0411;
  border: 1px solid #ad0411;
}

#dataConfirmModal{ background:#FFF;}

.min-padding-top{
  padding-top: 50px !important;
}

.min-padding-bot {
  padding-bottom: 50px !important;
}

.primary-color {
  color: #03a84e;
}